<button onclick="window.location='https://nodelanhbs.onrender.com/phone/update?id={{id}}&name={{name}}&phone={{phone}}';">{{name}} {{phone}}</button>
<button onclick="window.location='http://localhost:3000/phone/update?id={{id}}&name={{name}}&phone={{phone}}';">{{name}} {{phone}}</button>
<br>